h1,
h2,
nav,
button {
  font-family: "M PLUS Rounded 1c", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #fff;
  font-weight: bold;
}

section {
  text-align: center;
}

p {
  font-size: 20px;
  font-size: clamp(15px, 1vw, 20px);
}
