#skill {
  background-color: #fff;
}

.skill-title {
  font-size: 26px;
  font-size: clamp(20px, 1vw, 30px);
}

.skill-card {
  text-align: left;
  border: none;
  padding: 2rem;
}

.skill-card > div .card-text {
  font-size: 20px;
  font-size: clamp(15px, 1vw, 20px);
}
