h1,
h2,
nav {
  font-family: "Hannotate SC", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f8f9fa;
  font-weight: bold;
}

/*top*/
#top {
  height: 100vh;
}

/*work*/

#work {
  color: white;
}

.work-title {
  font-size: 20px;
  font-size: clamp(10px, 1vw, 20px);
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.work-card:hover .work-title {
  top: 0;
  left: 0;
  opacity: 1;
}

.work-image {
  padding-top: 0.5rem;
  transition: 0.4s;
}

.work-card:hover .work-image {
  transform: scale(1.1);
}

.modal-dialog {
  max-width: 800px;
  width: 75%;
}

.modal-dialog > img {
  padding: 5%;
  background-color: #343a40;
}
