h1,
h2,
nav {
  font-family: "Hannotate SC", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

section {
  padding-top: 3rem;
  margin-top: 3rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f8f9fa;
  font-weight: bold;
}

/*top*/
.m-20 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/*work*/

#work {
  color: white;
}

.work-title {
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.work-card:hover .work-title {
  top: 0;
  left: 0;
  opacity: 1;
}

.work-image {
  transition: 0.4s;
}

.work-card:hover .work-image {
  transform: scale(1.2);
}
