h1,
h2,
nav {
  font-family: "Hannotate SC", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

section {
  padding-top: 3rem;
  margin-top: 3rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f8f9fa;
  font-weight: bold;
}

/*top*/
.m-20 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
